header{
    padding: 1rem;
    width: 100%;
    height: auto;
    background: royalblue;
    color: #fff;
    margin: 0 auto;
}
.lista{
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    background-color: beige;
    border-radius: 1rem;

}
.lista input{
    margin: 1rem auto;
    border-radius: .5rem;
    padding: 1rem;
    color: #000000;
    width: 75%;
}
.lista .cad{
    color: #fff;
    background-color: royalblue;
    cursor: pointer;
    width: 75%;
    border: none;
}
.lista-produtos{
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background: rgba(99, 104, 118, 0.629);
    color: #ffff;
    width: 45%;
    height: fit-content;

}
.lista-produtos .produto-single{
    display: flex;
    justify-content: space-between;
}